
.listingOrganizations
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 12px

    padding-right: 8px
    padding-left: 8px
    padding-bottom: 12px 

    @media(min-width: 375px)
        grid-column-gap: 12px
        grid-row-gap: 12px

    @media(min-width: 600px)
        grid-template-rows: 1fr 1fr 1fr

    @media(min-width: 960px)
        grid-column-gap: 16px
        grid-row-gap: 16px


.wrapper
    display: flex
    flex-direction: column
    height: 100%

.information
    flex-grow: 1

.address
    margin-bottom: 12px
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    width: calc(100vw - 42px)

    @media(min-width: 600px)
        width: calc(100vw - 42px - 250px)

    @media(min-width: 960px)
        width: calc(100vw - 42px - 320px)

    @media(min-width: 1200px)
        width: calc(100vw - (100vw - 1200px) - 320px)   


.boxButtons
    display: flex
    flex-direction: column

    @media(min-width: 600px)
        flex-direction: row
        justify-content: end

.btnWrapper
    width: 100%
    margin-left: 0
    margin-top: 8px

    @media(min-width: 600px)
        width: max-content
        margin-top: 0px
        margin-left: 12px


.title
    line-height: 18px