
.header
    display: grid
    grid-template-columns: 40px 160px 190px 180px
    justify-content: space-between
    padding: 0 16px

.title
    margin-bottom: 24px


.scroll
    overflow-x: scroll
    
.list
    min-width: 420px

.item
    display: grid !important
    grid-template-columns: 40px 160px 190px 180px

.headButton
    width: 85px
    
.boxButtons
    display: flex
    justify-content: flex-end
