.filter
    display: flex
    
    margin-bottom: 20px
    box-shadow: 2px 2px 10px var(--color-gray-border-300)
    padding: 16px 8px
    border-radius: 8px

.selectorServiceCategory
    width: 50%

.selectStatus
    width: 50%
    margin-right: 12px