
.layout
    display: flex
    flex-direction: column
    min-height: 100vh

.header
    position: fixed
    z-index: 1
    left: 0
    right: 0

    grid-template-columns: 1fr 1fr
    background: var(--color-primary-background-110)
    box-shadow: -2px 5px 5px var(--color-gray-border-100)
    padding: 12px 8px

    display: grid
    align-items: center

    @media(min-width: 600px)
        padding: 16px 12px

    @media(min-width: 960px)
        grid-template-columns: 140px 1fr 120px

    @media(min-width: 1720px)
        grid-template-columns: calc((100vw - 1200px)/2) 1fr calc((100vw - 1200px)/2)

.main
    padding-top: 62px

    @media(min-width: 1320px)
        padding-top: 64px

.logo
    display: flex
    justify-content: start

    @media(min-width: 1320px)
        justify-content: center