
.layout
    display: flex
    flex-direction: column

.header
    background: var(--color-primary-background-110)
    box-shadow: -2px 5px 5px var(--color-gray-border-100)
    padding: 12px 0 12px 0

    display: grid
    grid-template-columns: calc((100vw - 1200px)/2) 1fr calc((100vw - 1200px)/2)
    align-items: center

.main
    height: calc(100vh - 42px)
    padding-top: 32px

.logo
    display: flex
    justify-content: center